[Desktop Entry]
Type=Service
Comment=KteMarkSelection
Comment[ast]=KteMarkSelection
Comment[bg]=KteMarkSelection
Comment[bs]=KteMarkSelection
Comment[ca]=KteMarkSelection
Comment[ca@valencia]=KteMarkSelection
Comment[cs]=KteMarkSelection
Comment[da]=KteMarkSelection
Comment[de]=KteMarkSelection
Comment[el]=KteMarkSelection
Comment[en_GB]=KteMarkSelection
Comment[es]=KteMarkSelection
Comment[et]=KteMarkSelection
Comment[fi]=KteMarkSelection
Comment[fr]=KteMarkSelection
Comment[ga]=KteMarkSelection
Comment[gl]=KteMarkSelection
Comment[hu]=KteMarkSelection
Comment[it]=KteMarkSelection
Comment[kk]=KteMarkSelection
Comment[km]=KteMarkSelection
Comment[ko]=KteMarkSelection
Comment[lt]=KteMarkSelection
Comment[lv]=KteMarkSelection
Comment[nb]=KteMarkSelection
Comment[nds]=KteMarkSelection
Comment[nl]=KteMarkSelection
Comment[nn]=KteMarkSelection
Comment[pa]=KteMarkSelection
Comment[pl]=KteMarkSelection
Comment[pt]=KteMarkSelection
Comment[pt_BR]=KteMarkSelection
Comment[ru]=KteMarkSelection
Comment[sk]=KteMarkSelection
Comment[sl]=KteMarkSelection
Comment[sr]=KteMarkSelection
Comment[sr@ijekavian]=KteMarkSelection
Comment[sr@ijekavianlatin]=KteMarkSelection
Comment[sr@latin]=KteMarkSelection
Comment[sv]=KteMarkSelection
Comment[tr]=KteMarkSelection
Comment[ug]=KteMarkSelection
Comment[uk]=KteMarkSelection
Comment[x-test]=xxKteMarkSelectionxx
Comment[zh_CN]=KteMarkSelection
Comment[zh_TW]=KteMarkSelection
Name=KteMarkSelection
Name[ast]=KteMarkSelection
Name[bg]=KteMarkSelection
Name[bs]=KteMarkSelection
Name[ca]=KteMarkSelection
Name[ca@valencia]=KteMarkSelection
Name[cs]=KteMarkSelection
Name[da]=KteMarkSelection
Name[de]=KteMarkSelection
Name[el]=KteMarkSelection
Name[en_GB]=KteMarkSelection
Name[eo]=KteMarkSelection
Name[es]=KteMarkSelection
Name[et]=KteMarkSelection
Name[fi]=KteMarkSelection
Name[fr]=KteMarkSelection
Name[ga]=KteMarkSelection
Name[gl]=KteMarkSelection
Name[hu]=KteMarkSelection
Name[it]=KteMarkSelection
Name[ja]=KteMarkSelection
Name[kk]=KteMarkSelection
Name[km]=KteMarkSelection
Name[ko]=KteMarkSelection
Name[lt]=KteMarkSelection
Name[lv]=KteMarkSelection
Name[nb]=KteMarkSelection
Name[nds]=KteMarkSelection
Name[nl]=KteMarkSelection
Name[nn]=KteMarkSelection
Name[pa]=KteMarkSelection
Name[pl]=KteMarkSelection
Name[pt]=KteMarkSelection
Name[pt_BR]=KteMarkSelection
Name[ro]=KteMarkSelection
Name[ru]=KteMarkSelection
Name[sk]=KteMarkSelection
Name[sl]=KteMarkSelection
Name[sq]=KteMarkSelection
Name[sr]=KteMarkSelection
Name[sr@ijekavian]=KteMarkSelection
Name[sr@ijekavianlatin]=KteMarkSelection
Name[sr@latin]=KteMarkSelection
Name[sv]=KteMarkSelection
Name[tr]=KteMarkSelection
Name[ug]=KteMarkSelection
Name[uk]=KteMarkSelection
Name[x-test]=xxKteMarkSelectionxx
Name[zh_CN]=KteMarkSelection
Name[zh_TW]=KteMarkSelection
GenericName=KteMarkSelection
GenericName[ast]=KteMarkSelection
GenericName[bg]=KteMarkSelection
GenericName[bs]=KteMarkSelection
GenericName[ca]=KteMarkSelection
GenericName[ca@valencia]=KteMarkSelection
GenericName[cs]=KteMarkSelection
GenericName[da]=KteMarkSelection
GenericName[de]=KteMarkSelection
GenericName[el]=KteMarkSelection
GenericName[en_GB]=KteMarkSelection
GenericName[es]=KteMarkSelection
GenericName[et]=KteMarkSelection
GenericName[fi]=KteMarkSelection
GenericName[fr]=KteMarkSelection
GenericName[ga]=KteMarkSelection
GenericName[gl]=KteMarkSelection
GenericName[hu]=KteMarkSelection
GenericName[it]=KteMarkSelection
GenericName[kk]=KteMarkSelection
GenericName[km]=KteMarkSelection
GenericName[ko]=KteMarkSelection
GenericName[lt]=KteMarkSelection
GenericName[lv]=KteMarkSelection
GenericName[nb]=KteMarkSelection
GenericName[nds]=KteMarkSelection
GenericName[nl]=KteMarkSelection
GenericName[nn]=KteMarkSelection
GenericName[pa]=KteMarkSelection
GenericName[pl]=KteMarkSelection
GenericName[pt]=KteMarkSelection
GenericName[pt_BR]=KteMarkSelection
GenericName[ru]=KteMarkSelection
GenericName[sk]=KteMarkSelection
GenericName[sl]=KteMarkSelection
GenericName[sr]=KteMarkSelection
GenericName[sr@ijekavian]=KteMarkSelection
GenericName[sr@ijekavianlatin]=KteMarkSelection
GenericName[sr@latin]=KteMarkSelection
GenericName[sv]=KteMarkSelection
GenericName[tr]=KteMarkSelection
GenericName[ug]=KteMarkSelection
GenericName[uk]=KteMarkSelection
GenericName[x-test]=xxKteMarkSelectionxx
GenericName[zh_CN]=KteMarkSelection
GenericName[zh_TW]=KteMarkSelection
Icon=kate
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_ktemarkselection
X-KDE-PluginKeyword=ktexteditor_ktemarkselection
X-KDE-PluginInfo-Name=ktexteditor_ktemarkselection
X-KDE-PluginInfo-Author=Nikolay S Nikolov
X-KDE-PluginInfo-Email=nikolay.fatal.error@gmail.com
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
