[Desktop Entry]
Type=Service
Comment=KteRangeDeleter
Comment[ast]=KteRangeDeleter
Comment[bg]=KteRangeDeleter
Comment[bs]=KteRangeDeleter
Comment[ca]=KteRangeDeleter
Comment[ca@valencia]=KteRangeDeleter
Comment[cs]=KteRangeDeleter
Comment[da]=KteRangeDeleter
Comment[de]=KteRangeDeleter
Comment[el]=KteRangeDeleter
Comment[en_GB]=KteRangeDeleter
Comment[es]=KteRangeDeleter
Comment[et]=KteRangeDeleter
Comment[fi]=KteRangeDeleter
Comment[fr]=KteRangeDeleter
Comment[ga]=KteRangeDeleter
Comment[gl]=KteRangeDeleter
Comment[hu]=KteRangeDeleter
Comment[it]=KteRangeDeleter
Comment[kk]=KteRangeDeleter
Comment[km]=KteRangeDeleter
Comment[ko]=KteRangeDeleter
Comment[lt]=KteRangeDeleter
Comment[lv]=KteRangeDeleter
Comment[nb]=KteRangeDeleter
Comment[nds]=KteRangeDeleter
Comment[nl]=KteRangeDeleter
Comment[nn]=KteRangeDeleter
Comment[pa]=KteRangeDeleter
Comment[pl]=KteRangeDeleter
Comment[pt]=KteRangeDeleter
Comment[pt_BR]=KteRangeDeleter
Comment[ru]=KteRangeDeleter
Comment[sk]=KteRangeDeleter
Comment[sl]=KteRangeDeleter
Comment[sr]=KteRangeDeleter
Comment[sr@ijekavian]=KteRangeDeleter
Comment[sr@ijekavianlatin]=KteRangeDeleter
Comment[sr@latin]=KteRangeDeleter
Comment[sv]=KteRangeDeleter
Comment[tr]=KteRangeDeleter
Comment[ug]=KteRangeDeleter
Comment[uk]=KteRangeDeleter
Comment[x-test]=xxKteRangeDeleterxx
Comment[zh_CN]=KteRangeDeleter
Comment[zh_TW]=KteRangeDeleter
Name=KteRangeDeleter
Name[ast]=KteRangeDeleter
Name[bg]=KteRangeDeleter
Name[bs]=KteRangeDeleter
Name[ca]=KteRangeDeleter
Name[ca@valencia]=KteRangeDeleter
Name[cs]=KteRangeDeleter
Name[da]=KteRangeDeleter
Name[de]=KteRangeDeleter
Name[el]=KteRangeDeleter
Name[en_GB]=KteRangeDeleter
Name[eo]=KteRangeDeleter
Name[es]=KteRangeDeleter
Name[et]=KteRangeDeleter
Name[fi]=KteRangeDeleter
Name[fr]=KteRangeDeleter
Name[ga]=KteRangeDeleter
Name[gl]=KteRangeDeleter
Name[hu]=KteRangeDeleter
Name[it]=KteRangeDeleter
Name[ja]=KteRangeDeleter
Name[kk]=KteRangeDeleter
Name[km]=KteRangeDeleter
Name[ko]=KteRangeDeleter
Name[lt]=KteRangeDeleter
Name[lv]=KteRangeDeleter
Name[nb]=KteRangeDeleter
Name[nds]=KteRangeDeleter
Name[nl]=KteRangeDeleter
Name[nn]=KteRangeDeleter
Name[pa]=KteRangeDeleter
Name[pl]=KteRangeDeleter
Name[pt]=KteRangeDeleter
Name[pt_BR]=KteRangeDeleter
Name[ro]=KteRangeDeleter
Name[ru]=KteRangeDeleter
Name[sk]=KteRangeDeleter
Name[sl]=KteRangeDeleter
Name[sq]=KteRangeDeleter
Name[sr]=KteRangeDeleter
Name[sr@ijekavian]=KteRangeDeleter
Name[sr@ijekavianlatin]=KteRangeDeleter
Name[sr@latin]=KteRangeDeleter
Name[sv]=KteRangeDeleter
Name[tr]=KteRangeDeleter
Name[ug]=KteRangeDeleter
Name[uk]=KteRangeDeleter
Name[x-test]=xxKteRangeDeleterxx
Name[zh_CN]=KteRangeDeleter
Name[zh_TW]=KteRangeDeleter
GenericName=KteRangeDeleter
GenericName[ast]=KteRangeDeleter
GenericName[bg]=KteRangeDeleter
GenericName[bs]=KteRangeDeleter
GenericName[ca]=KteRangeDeleter
GenericName[ca@valencia]=KteRangeDeleter
GenericName[cs]=KteRangeDeleter
GenericName[da]=KteRangeDeleter
GenericName[de]=KteRangeDeleter
GenericName[el]=KteRangeDeleter
GenericName[en_GB]=KteRangeDeleter
GenericName[es]=KteRangeDeleter
GenericName[et]=KteRangeDeleter
GenericName[fi]=KteRangeDeleter
GenericName[fr]=KteRangeDeleter
GenericName[ga]=KteRangeDeleter
GenericName[gl]=KteRangeDeleter
GenericName[hu]=KteRangeDeleter
GenericName[it]=KteRangeDeleter
GenericName[kk]=KteRangeDeleter
GenericName[km]=KteRangeDeleter
GenericName[ko]=KteRangeDeleter
GenericName[lt]=KteRangeDeleter
GenericName[lv]=KteRangeDeleter
GenericName[nb]=KteRangeDeleter
GenericName[nds]=KteRangeDeleter
GenericName[nl]=KteRangeDeleter
GenericName[nn]=KteRangeDeleter
GenericName[pa]=KteRangeDeleter
GenericName[pl]=KteRangeDeleter
GenericName[pt]=KteRangeDeleter
GenericName[pt_BR]=KteRangeDeleter
GenericName[ru]=KteRangeDeleter
GenericName[sk]=KteRangeDeleter
GenericName[sl]=KteRangeDeleter
GenericName[sr]=KteRangeDeleter
GenericName[sr@ijekavian]=KteRangeDeleter
GenericName[sr@ijekavianlatin]=KteRangeDeleter
GenericName[sr@latin]=KteRangeDeleter
GenericName[sv]=KteRangeDeleter
GenericName[tr]=KteRangeDeleter
GenericName[ug]=KteRangeDeleter
GenericName[uk]=KteRangeDeleter
GenericName[x-test]=xxKteRangeDeleterxx
GenericName[zh_CN]=KteRangeDeleter
GenericName[zh_TW]=KteRangeDeleter
Icon=kate
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_kterangedeleter
X-KDE-PluginKeyword=ktexteditor_kterangedeleter
X-KDE-PluginInfo-Name=ktexteditor_kterangedeleter
X-KDE-PluginInfo-Author=Nikolay S Nikolov
X-KDE-PluginInfo-Email=nikolay.stef.nikolov@gmail.com
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
